Web References/com.jetnet.aiservice.www/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UpdateAssets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAssetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAssetsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequirements">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequirementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRequirementsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunAnalysis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nAircraftID" type="xs:long" />
        <xs:element minOccurs="0" name="nAirframeHrs" type="xs:long" />
        <xs:element minOccurs="0" name="nAirframeCycles" type="xs:long" />
        <xs:element minOccurs="0" name="sMaintProgram" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="overrideViewValue" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunAnalysisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RunAnalysisResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>